*{
    padding: 0;
    margin: 0;
}
header{
    color: aliceblue;
    height: 60px;
    width: 100%;
    background-color: #838383;
    position: fixed;
    z-index: 999;
}
header a{
    color: aliceblue;
    text-decoration: none;
    padding: 21.5px 8px;
}
header a:hover{
    background-color: #949d9a;
    border: 21.5px;
    text-decoration: none;
}
header li{
    margin-right: 4vw;
    display: inline;
}
header ul{
    position: absolute;
    right: 0.5vw;
    top: 0;
    line-height: 60px;
}
h1{
    position: absolute;
    left: 20px;
    top: 0;
    line-height: 60px;
}
.front{
    background-color: aliceblue;
    color: aliceblue;
    height: 100vh;
    background-image: url(images/IMG_8864.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: backgroundAnimation 8s infinite;
}
@keyframes backgroundAnimation{
    0%, 20%, 10%{
        background-image: url(images/IMG_8864.JPG);
    }
    25%, 45%{
        background-image: url(images/IMG_8869.JPG);
    }
    50%, 70%{
        background-image: url(images/IMG_8871.JPG);
    }
}
.front h2{
    font-size: 40px;
}
.front p{
    color: #fef7e6;
    font-size: 20px;
    margin: 25px 0;
    line-height: 40px;
}
.attraction{
    display: flex;
    background-color: #ede9db;
    justify-content: space-between;
    align-items: center;
    padding: 100px 180px 80px;
}
.attraction div{
    width: 250px;
    text-align: center;
}
.attraction img{
    width: 100%;
    border-radius: 10px;
}
.attraction h3{
    font-size: 20px;
    margin: 20px 0;
}
.attraction p{
    font-size: 14px;
    line-height: 1.6em;
}
.front-2{
    background-color: lightblue;
    color: aliceblue;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.carousel {
    position: relative;
    width: 80%;
    max-width: 600px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.carousel-images img {
    width: 100%;
    height: auto;
}
.carousel-buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}
.carousel-buttons button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}
.carousel-buttons button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}
.history{
    display: flex;
    background-color: #92c0b7;
    justify-content: space-between;
    align-items: center;
    padding: 100px 180px 80px;
}
.history div{
    width: 250px;
    text-align: center;
}
.history img{
    width: 100%;
    border-radius: 10px;
}
.history h3{
    font-size: 20px;
    margin: 20px 0;
}
.history p{
    font-size: 14px;
    line-height: 1.6em;
}
.newsletter{
    text-align: center;
}
.newsletter h3{
    font-size: 23px;
    margin: 15px 0;
}
.newsletter {
    background-color: #5b8291;
    color: white;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.newsletter p{
    margin-bottom: 20px;
}
.newsletter input, .newsletter buttom{
    background-color: transparent;
    color: white;
    border: 1px solid #949d9a;
    padding: 10px;
    border-radius: 5px;
}
